
body {
    background-image: url("../images/background.jpg");
    margin: auto;
    width: 80%;
    padding: 20px;
}

#results_label {
    color: white;
}

.instruction_heading {
    color: white;
}

.player_card {
    border: solid 2px blue;
    background: white;
    width: 125px;
    height:160px;
    align-content: center;
}

/* .results_panel {
    border:solid 1px lightgray;
    height:400px;
    width: 500px;
} */
.enemy {
    border: solid 2px red;
}

.defender {
    border: solid 2px yellow;
}